.topbar {
    position: fixed;
    z-index: 1;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0 1px $border-color;
    background: rgb(21, 15, 66);

    .id {
        position: relative;
        .idContent {
            display: flex;
            img {
                box-shadow: 0 0 0 1px $border-color;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h1 {
            position: inherit;
            left: 100px;
            @media screen and (max-width: 1000px) {
                display: none !important;
            }
        }
    }

    .navigation {
        
        .active {
            color: rgb(73, 69, 69);
        }

        ul {
            display: flex;
        }

        li {
            span {
                margin-left: 0.5rem;
            }
            list-style-type: none;
            padding-right: 20px;
            &:hover {
                transform: translate(3px, 3px);
            }
        }
        a {
            text-decoration: none;
            color: $text-color2;
        }
    }

    // Si la page est en dessous de 850px, le display change
    
    @media screen and (max-width: 1000px) {
        width: 98% !important;
    }

    @media screen and (max-width: 650px) {
        display: none !important;
    }
}
