@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');

$font1: 'Work Sans', sans-serif;
$font-small1: 'Work Sans', sans-serif;

$text-color1: #7b53a8;
$text-color2: #f7f0ff;
$border-color: #535353;

$border-radius: 5px;
$min-height: 85vh;

body{
    // max-width: 1200px;
    // //Pour aligner les divs verticalement
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    font-family: $font1;
    color: $text-color1;
    background-color: rgb(36, 35, 35);
}