@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');

$font1: 'Work Sans', sans-serif;
$font-small1: 'Work Sans', sans-serif;

$text-color1: #7b53a8;
$text-color2: #f7f0ff;
$border-color: #535353;

$border-radius: 5px;
$min-height: 75vh;

body{
    // max-width: 1200px;
    // //Pour aligner les divs verticalement
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    font-family: $font1;
    color: $text-color1;
    background-color: rgb(36, 35, 35);
}

.homeContent, .cvContent, .contactContent, .projectsContent{
    position: absolute;
    top: 11%;
    
    width: 99%;
    box-shadow: 0 0 0 1px $border-color;
    background: rgb(21, 15, 66);
    min-height: $min-height;
    
    // Si la page est en dessous de 1000px, le display change
    @media screen and (max-width: 1000px) {
        top: 8% !important;
        width: 98%;
    }

    @media screen and (max-width: 650px) {
        top: 1% !important;
        width: 97%;
    }
}